h1 {
    font-family: Playfair Display SC;
    font-size: 2.5rem;
    color: #CFB9A0;
}

p,
nav {
    font-family: Mukta;
    font-weight: 700;
}

body {
    background-color: whitesmoke;
}

.container {
    margin: 0 auto;
    width: 90vw;
    max-width: 1024px;
    background-color: #ededed;
}


/*** splash ***/

header {
    width: 90vw;
    height: 51vw;
    background-image: url(splash/desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1024px;
    max-height: 576px;
}


/***splash slut ***/

.forside img {
    width: 100%;
}

.content {
    padding: 10px;
}


/*** shop ***/

#shop .content img {
    /*    width: 70%;*/
    /*    padding-bottom: 30px;*/
}

#shop .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

#shop .content {
    padding: 10px;
    /*    flex: 1 1 0;*/
    flex-basis: 207px;
    flex-grow: 1;
    justify-content: center;
    text-align: center;
}

#shop {
    background-color: #ededed;
}

#shop h2 {
    font-family: Mukta;
    color: #CFB9A0;
}

#shop p {
    font-family: Mukta;
    font-size: 0.8rem;
    font-weight: 200;
}

#shop .semere {
    float: right;
    text-decoration: none;
    color: #1C1C1C;
    padding-top: 20px;
    padding-right: 30px;
}

.shopimg img {
    height: 100px;
}


/*** shop slut ***/


/*** om ***/

#om .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

.hs-responsive-embed-youtube iframe,
video {
    position: absolute;
    width: 100%!important;
    height: 100%!important;
}

.hs-responsive-embed-youtube {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 Aspect Ratio */
    padding-top: 25px;
}

.videotekst {
    padding-top: 20px;
}

#om content {}

#om img {
    width: 100%
}

#om .contentwrapper {
    display: flex;
    flex-wrap: wrap;
}


/*** om slut **/


/*** kurv ***/

#kurv .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

#kurv .content {
    flex-grow: 1;
}

.koeb {
    text-align: right;
    padding-top: 100px;
    padding-right: 20px;
    display: block;
}


/*** kurv slut ***/


/* Navigation */

nav {
    background-color: #D6D6D6;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav a {
    text-decoration: none;
    text-align: center;
    color: #1C1C1C;
    display: block;
    padding: 10px;
}

nav a:hover {
    color: gray;
}


/*** farve når man holder mus over tekst ***/

@media screen and (min-width: 500px) {
    nav ul {
        display: flex;
        justify-content: center;
    }
    nav li {
        flex: 1 1 0;
    }
}

footer {
    text-align: center;
    padding: 5px;
    background-color: #D6D6D6;
    max-width: 1024px;
}
