h1 {
    font-family: Playfair Display SC;
    font-size: 2.5rem;
    color: #CFB9A0;
}

p,
nav {
    font-family: Open Sans;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: #1c1c1c;
    font-family: Open Sans;
}


/* Navigation */

nav {
    background-color: #D6D6D6;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav a {
    text-decoration: none;
    text-align: center;
    color: #1C1C1C;
    display: block;
    padding: 10px;
}

nav a:hover {
    color: gray;
}


/*** farve når man holder mus over tekst ***/

@media screen and (min-width: 500px) {
    nav ul {
        display: flex;
        justify-content: center;
    }
    nav li {
        flex: 1 1 0;
    }
}

span {
    font-size: 0.6rem;
}

body {
    background-color: whitesmoke;
}

.container {
    margin: 0 auto;
    width: 90vw;
    max-width: 1024px;
    background-color: #ededed;
}


/*** splash ***/

header {
    width: 90vw;
    height: 51vw;
    background-image: url(splash/desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1024px;
    max-height: 576px;
}


/***splash slut
 .forside img {
    width: 100%;
}

.content {
    padding: 10px;
}

#forside {
 margin-top: 25vw;

}

Forside ***/


/*** shop ***/

#shop .content img {
    /*    width: 70%;*/
    /*    padding-bottom: 30px;*/
}

#shop .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

#shop .content {
    padding: 10px;
    /*    flex: 1 1 0;*/
    flex-basis: 207px;
    flex-grow: 1;
    justify-content: center;
    text-align: center;
}

#shop {
    background-color: #ededed;
}

#shop h2 {
    font-family: Mukta;
    color: #CFB9A0;
}

#shop p {
    font-family: Open Sans;
    font-size: 0.8rem;
    font-weight: 200;
}

#shop .semere {
    float: right;
    text-decoration: none;
    color: #1C1C1C;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #CFB9A0;
    border-radius: 10px;
    box-shadow: 3px 3px 2px #888888;
    font-family: Open Sans;
    font-size: 0.8rem;
}

.shopimg img {
    height: 100px;
}


/*** shop slut ***/


/*** om ***/

#om .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

.hs-responsive-embed-youtube iframe,
video {
    position: absolute;
    width: 100%!important;
    height: 100%!important;
}

.hs-responsive-embed-youtube {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 Aspect Ratio */
    padding-top: 25px;
}

.videotekst {
    padding-bottom: 10px;
    font-family: Open Sans;
    font-size: 0.8rem;
}

#om .content {
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
}

#om iframe {
    padding-bottom: 10px;
}

#om .maps {
    margin-left: auto;
}

#om img {
    width: 100%
}

#om .contentwrapper {
    display: flex;
    flex-wrap: wrap;
}

table,
td,
tr {
    font-family: Open Sans;
    font-size: 0.9rem;
    padding-right: 5px;
}

th {
    text-align: left;
    font-family: Open Sans;
    padding-bottom: 5px;
}

.table_pris {
    font-size: 0.8rem;
}


/*** om slut **/


/*** kurv ***/

#kurv .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

#kurv .content {
    flex-grow: 1;
    font-family: Mukta:200;
    padding-left: 10px;
}

.koeb {
    text-align: right;
    padding-top: 100px;
    padding-right: 20px;
    display: block;
    margin-left: auto;
}

.koeb img {
    width: 200px;
    ;
}

#koeb_ikoner {
    width: 30px;
}


/*** kurv slut ***/


/*** ure ***/

#ure .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

#ure .content {
    padding: 10px;
    /*    flex: 1 1 0;*/
    flex-basis: 207px;
    flex-grow: 1;
    justify-content: center;
    text-align: center;
}

#ure {
    background-color: #ededed;
}

#ure h2 {
    font-family: Mukta;
    color: #CFB9A0;
}

#ure p {
    font-family: Open Sans;
    font-size: 0.8rem;
    font-weight: 200;
}

#ure .semere {
    float: right;
    text-decoration: none;
    color: #1C1C1C;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #CFB9A0;
    border-radius: 10px;
    box-shadow: 3px 3px 2px #888888;
    font-family: Open Sans;
    font-size: 0.8rem;
}

.ureimg img {
    height: 150px;
    padding-bottom: 30px;
}


/*** ure slut ***/


/*** dameure ***/

#dameure .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

#dameure .content {
    /*    flex: 1 1 0;*/
    flex-basis: 207px;
    flex-grow: 1;
    font-family: Open Sans;
    font-size: 0.8rem;
}

.dameureimg img {
    height: 150px;
    padding-bottom: 30px;
    display: block;
    margin: auto;
    padding-top: 30px;
}

.dameureimg {
    border: solid;
    border-color: #D6D6D6;
    background-color: whitesmoke;
    margin: 10px;
    text-align: center;
}


/*** dameure slut ***/


/*** danielwellington ***/

#danielwellington .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

#danielwellington .content {
    /*    flex: 1 1 0;*/
    flex-basis: 207px;
    flex-grow: 1;
    font-family: Open Sans;
    font-size: 0.8rem;
}

#danielwellington h3 {
    color: #CFB9A0;
    padding-right: 10px;
}

#danielwellington p {
    color: #1c1c1c;
    padding-right: 10px;
}

#danielwellington .koeb {
    width: 100px;
    display: block;
    margin-left: auto;
}


/*** danielwellington slut ***/

#footer_index {
    width: 90vw;
    background-color: whitesmoke;
    position: absolute;
    bottom: 0;
    align-content: center;
}

footer {
    text-align: center;
    padding: 5px;
    background-color: #D6D6D6;
    max-width: 1024px;
}

footer p {
    font-family: Mukta;
}
